a {
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}
}

.facebook__container{
}
.container__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container__form-logo{

}
.container__form-logo-img{
    height: 39px;
    width: 112px;
}
.container__form-input{
    display: flex;
    flex-direction: column;
}
.container__form-input-main{
    height: 45px;
    width: 418px;
    margin: 4px 0;
    background-color: #F5F6F7;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid #eee;
    font-size: 14px;

}
.container__form-input-button{
    background-color: #1877f2;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    height: 40px;
    width: 100%;
    margin-top: 8px;
    cursor: pointer;
}
.container__form-forget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.container__form-forget-link{
    color: #1469d8;
    font-size: 14px;
}
.container__form-forget-text{
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    margin: 6px;
}


.container__form-forget-regin{
    text-align: center;
    height: 36px;
    width: 160px;
    border: none;
    border-radius: 4px;
    background-color: #00a400;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.facebook__footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    font-size: 13px;
    color: #1865ca;
    line-height: 16px;
}
.footer__table{
    list-style: none;
}
.footer__table-content{
}
.footer__mac {
    text-align: center;
    font-size: 14px;
    color: rgb(151, 148, 148);
}

@media (max-width: 740px) {
    .container__form-input {
        width: 100%;
        margin: 0;
    }

    .container__form-input-main{
        width: 96%;
    }
}